html,
body {
  background-color: #d1d8e5;
  height: 100%;
}

.carrinho-card {
  width: 450px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}

.carrinho-body {
  border-top: 1px solid #d1d8e5;
  border-bottom: 1px solid #d1d8e5;
  padding: 14px;
  padding-bottom: 30px;
}

.carrinho-title {
  text-align: center;
  padding-top: 20px;
}

.carrinho-total {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.finalizar-carrinho {
  width: 100%;
  padding: 20px;
  background-color: #3b74f2;
  border: 0px;
  font-size: 17px;
  color: white;
  border-radius: 8px;
  margin-top: 4px;
  font-weight: bold;
  cursor: pointer;
}

.finaliza-compra {
  border-top: 1px solid #d1d8e5;
  padding: 20px;
}
.finalizar-carrinho:hover {
  background-color: #274da1;
  transition: 0.5s ease-in;
}
